<h2>Hello React + 3rd party component griddle</h2>

<%= react_component('HelloWorld', name: 'World') %> (if you see "Hello World" react is working)<br/><br/>

<%= react_component('GriddleTest', name: 'John') %>
